<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Herkku-Herkko</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Uusi tuoteryhmä</h1>
	<p>Lisää uusi tuoteryhmä elintarvikkeille.</p>
	<div>
		<form th:object="${category}" th:action="@{saveaddcategory}" action="#" method="post">
			<label for="name">Nimi: </label>
			<input type="text" id="name" th:field="*{name}" /><br><br>
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name ERROR</p>
			
			<input class="submit" type="submit" value="Tallenna"></input>
		</form>
	</div>
	<a href="/categorylist" class="btn btn-primary">Takaisin</a>
</body>
</html>