<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Herkku-Herkko</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/food.css}"/>
</head>
<body>
	<h1>Uusi elintarvike</h1>
	<p>Lisää uusi tuote listaan.</p>
	<div>
		<form th:object="${food}" th:action="@{save}" action="#" method="post">
			<label for="name">Nimi: </label>
			<input type="text" id="name" th:field="*{name}" /><br>
			
			<label for="catlist">Tuoteryhmä: </label>
			<select id="catlist" th:field="*{category}" class="form-control">
				<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
			</select><br>
			
			<label for="brand">Merkki: </label>
			<input type="text" id="brand" th:field="*{brand}" /><br>
			
			<label for="country">Alkuperämaa: </label>
			<input type="text" id="country" th:field="*{country}" /><br>
	
			<label for="weight">Paino (g): </label>
			<input type="text" id="weight" th:field="*{weight}" /><br>
			
			<label for="kcal">Kaloreita (kcal): </label>
			<input type="text" id="kcal" th:field="*{kcal}" /><br><br>
			
			<input class="submit" type="submit" value="Tallenna"></input>
		</form>
	</div>
	<a href="/foodlist" class="btn btn-primary">Takaisin</a>
</body>
</html>