<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Herkku-Herkko</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
	<div class="menu">
		<div sec:authorize="hasAuthority('USER') or hasAuthority('ADMIN')">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Kirjaudu ulos"/>
			</form>
		</div>
	</div>
	
	<h1>Herkku-Herkko</h1>
	<h2 th:inline="text">Hei, [[${#httpServletRequest.remoteUser}]]!</h2>
	<p>Lista rekisteröityneistä käyttäjistä.</p>
	
    <table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Käyttäjänimi</th>
			<th>Rooli</th>
		</tr>
			<tr th:each = "user : ${users}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.username}"></td>
			<td th:text="${user.role}"></td>
			<td sec:authorize="hasAuthority('USER') or hasAuthority('ADMIN')"><a th:href="@{/deleteuser/{id}(id=${user.id})}" class="confirmation">Poista</a></td>
		</tr>
	</table>
	
	<div sec:authorize="hasAuthority('ADMIN')">
		<a href="/adduser" class="btn btn-primary">Lisää uusi käyttäjä</a>
	</div>
	<div>
		<a href="/foodlist" class="btn btn-primary">Takaisin etusivulle</a>	
	</div>
	
	<script type="text/javascript">
		// gives confirmation box if delete is clicked
	    var elems = document.getElementsByClassName('confirmation');
	    var confirmIt = function (e) {
	        if (!confirm('Oletko varma?')) e.preventDefault();
	    };
	    for (var i = 0, l = elems.length; i < l; i++) {
	        elems[i].addEventListener('click', confirmIt, false);
	    }
	</script>
</body>
</html>